SharedLibrary/XML/DataSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Person">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="xs:int"/>
				<xs:element name="Name" type="xs:string"/>
				<xs:element name="Age" type="xs:int"/>
				<xs:element name="Email" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>